label {
  min-width: 7rem;
}

.text-center {
  text-align: center;
}

.meetings-btn {
  /* background-color: #46456f;
  margin-top: 2rem;
  border-radius: 0.5rem;
  border: none;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  vertical-align: middle; */

  color: rgb(232, 230, 227);
    background-color: rgb(70, 69, 111);
    border-color: rgb(78, 85, 88);
}

.card-title span {
  font-weight: bold;
  font-size: 1.5rem;
}

.card-title p span {
  font-weight: normal;
  font-size: 1rem;
}

.card-options-container {
  position: absolute;
  top: 8px;
  left: auto;
  bottom: auto;
  right: 8px;
  margin: -8px -8px 0 0;
  padding: 1rem 1rem 0rem 1rem;
}

.card-options-container a {
  padding: 1rem 1rem 0rem 1rem;
}

/* The Modal (background) */
.odoo-meetings-modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0; 
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  text-align: center;
}

/* Modal Content */
.odoo-meetings-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  padding-left: 4rem;
	padding-right: 4rem;
  border: 1px solid #888;
  width: 40%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}

/* The Close Button */
.odoo-meetings-close {
  color: #aaaaaa;
  float: right;
  font-size: 1rem;
  font-weight: bold;
  align-self: flex-end;
  /* padding-bottom: 1rem; */
}

.odoo-meetings-close:hover,
.odoo-meetings-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}